body {
    background-color: powderblue;
    text-align: center;
  }
  h1 {
    color: blue;
    
  }
  main{
    display: inline-flex;
  }

  .cardGalener{
    margin: 2%;
  }

#adicionarGalener{
  margin-left: 25%;
  width: 50%;
  weight: 50%;
}