body {
    background-color: powderblue;
    text-align: center;
  }
  h1 {
    color: blue;
    
  }
  main{
    display: inline-block;
  }

  .cardGalener{
    margin: 2%;
  }

.adicionarGalener{
  width: 50%;
  weight: 50%;
}